

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body
{
  font-family: 'Alegreya Sans', sans-serif;


}
.photos {
  width:100%;
}

#goa
{
  margin-top: 10%;
  text-align: center;
  color: black;
  font-size: 10em;
  font-weight: bold;
  font-family:fantasy;
}

#tag
{
  margin-top: -2%;
  font-family: cursive;
  text-align: center;
  color: black;
  font-size: 2.5em;
}

.containers {
  width:1450px;
  height:260px;
  position:relative;
  top: -212px;
  background-color: #BC986A;
}

.navbar-brand
{
  font-family: cursive;
  font-size: 20px;
  font-weight: 200;
}

.fluids
{
  position:relative;
  top:-500px;
  background-color: #5CDB95;
  width:1450px;
  height:500px;
}

.fluids1 {
  position:relative;
  top:182px;
  width:1550px;
  right:209px;
  background-color: #05386B;
}

.col-md-3 .places_img{
  right:-76px;
}

.fluids2 {
  background-color: #C5CBE3;
}

/*Experience*/
#exp
{
  margin-top: 20%;

}
#exp h2
{
  margin-top: 10%;
  font-size: 3em;
  text-align: center;
}
.styled
{
  width: 40px;
  border: 1px solid red;
}
.note
{
  font-size: 1.7em;
  margin: 2% 8%;
  color: grey;
}

.nav > li > a:hover {

  background-color:black;

}

.note a:hover
{
  text-decoration: none;
}
.user
{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 7%;
  height: 7%;
}
.name
{
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 6%;
}
/*Places*/
#places
{

  text-align: center;
}
.places_img
{
  margin-top: 3%;
}
.caption
{
  font-size: 1.2em;
  font-weight: bold;
}
.thumbnail
{
  transition: transform 0.5s;
}
.thumbnail:hover
{
  transform: translateY(-10px);
}
.thumbnail img
{
  width: 100%;
  height: 200px;
}
.more
{
  text-align: center;
  font-size: 1.5em;
  margin-top: 5%;
  margin-bottom: 5%;
}
.more a
{
  color: grey;
}
.more a:hover
{
  text-decoration: none;
  color: grey;
}


.more a:active
{
  text-decoration: none;
  color: grey;
}
.more a:visited
{
  text-decoration: none;
  color: grey;
}

#contact
{

  text-align: center;
}



.fa
{
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 3%;
  box-shadow: 2px 5px lightgrey;
}
.fa-facebook
{
  padding-top: 10px;
  color: #3b5998;

}
.fa-twitter
{
  padding-top: 10px;
  color: #0084b4;
}
.fa-instagram
{
  padding-top: 10px;
  color: #8a3ab9;
}
